<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petsvalley.mapper.StrategyMapper">
  <cache type="com.petsvalley.MybatisRedisCache" blocking="false"
         flushInterval="0" readOnly="true" size="1024" eviction="FIFO"/>
  <resultMap id="BaseResultMap" type="com.petsvalley.entity.Strategy">
    <id column="stra_id" jdbcType="INTEGER" property="straId" />
    <result column="stra_type" jdbcType="VARCHAR" property="straType" />
    <result column="stra_title" jdbcType="VARCHAR" property="straTitle" />
    <result column="stra_message" jdbcType="VARCHAR" property="straMessage" />
    <result column="stra_photo" jdbcType="VARCHAR" property="straPhoto" />
    <result column="stra_time" jdbcType="TIMESTAMP" property="straTime" />
    <result column="stra_state" jdbcType="INTEGER" property="straState" />
    <result column="stra_spare" jdbcType="VARCHAR" property="straSpare" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    stra_id, stra_type, stra_title, stra_message, stra_photo, stra_time, stra_state, 
    stra_spare
  </sql>
  <select id="selectByExample" parameterType="com.petsvalley.entity.StrategyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from strategy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from strategy
    where stra_id = #{straId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from strategy
    where stra_id = #{straId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.petsvalley.entity.StrategyExample">
    delete from strategy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.petsvalley.entity.Strategy">
    insert into strategy (stra_id, stra_type, stra_title, 
      stra_message, stra_photo, stra_time, 
      stra_state, stra_spare)
    values (#{straId,jdbcType=INTEGER}, #{straType,jdbcType=VARCHAR}, #{straTitle,jdbcType=VARCHAR}, 
      #{straMessage,jdbcType=VARCHAR}, #{straPhoto,jdbcType=VARCHAR}, #{straTime,jdbcType=TIMESTAMP}, 
      #{straState,jdbcType=INTEGER}, #{straSpare,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.petsvalley.entity.Strategy">
    insert into strategy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="straId != null">
        stra_id,
      </if>
      <if test="straType != null">
        stra_type,
      </if>
      <if test="straTitle != null">
        stra_title,
      </if>
      <if test="straMessage != null">
        stra_message,
      </if>
      <if test="straPhoto != null">
        stra_photo,
      </if>
      <if test="straTime != null">
        stra_time,
      </if>
      <if test="straState != null">
        stra_state,
      </if>
      <if test="straSpare != null">
        stra_spare,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="straId != null">
        #{straId,jdbcType=INTEGER},
      </if>
      <if test="straType != null">
        #{straType,jdbcType=VARCHAR},
      </if>
      <if test="straTitle != null">
        #{straTitle,jdbcType=VARCHAR},
      </if>
      <if test="straMessage != null">
        #{straMessage,jdbcType=VARCHAR},
      </if>
      <if test="straPhoto != null">
        #{straPhoto,jdbcType=VARCHAR},
      </if>
      <if test="straTime != null">
        #{straTime,jdbcType=TIMESTAMP},
      </if>
      <if test="straState != null">
        #{straState,jdbcType=INTEGER},
      </if>
      <if test="straSpare != null">
        #{straSpare,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.petsvalley.entity.StrategyExample" resultType="java.lang.Long">
    select count(*) from strategy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update strategy
    <set>
      <if test="record.straId != null">
        stra_id = #{record.straId,jdbcType=INTEGER},
      </if>
      <if test="record.straType != null">
        stra_type = #{record.straType,jdbcType=VARCHAR},
      </if>
      <if test="record.straTitle != null">
        stra_title = #{record.straTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.straMessage != null">
        stra_message = #{record.straMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.straPhoto != null">
        stra_photo = #{record.straPhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.straTime != null">
        stra_time = #{record.straTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.straState != null">
        stra_state = #{record.straState,jdbcType=INTEGER},
      </if>
      <if test="record.straSpare != null">
        stra_spare = #{record.straSpare,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update strategy
    set stra_id = #{record.straId,jdbcType=INTEGER},
      stra_type = #{record.straType,jdbcType=VARCHAR},
      stra_title = #{record.straTitle,jdbcType=VARCHAR},
      stra_message = #{record.straMessage,jdbcType=VARCHAR},
      stra_photo = #{record.straPhoto,jdbcType=VARCHAR},
      stra_time = #{record.straTime,jdbcType=TIMESTAMP},
      stra_state = #{record.straState,jdbcType=INTEGER},
      stra_spare = #{record.straSpare,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.petsvalley.entity.Strategy">
    update strategy
    <set>
      <if test="straType != null">
        stra_type = #{straType,jdbcType=VARCHAR},
      </if>
      <if test="straTitle != null">
        stra_title = #{straTitle,jdbcType=VARCHAR},
      </if>
      <if test="straMessage != null">
        stra_message = #{straMessage,jdbcType=VARCHAR},
      </if>
      <if test="straPhoto != null">
        stra_photo = #{straPhoto,jdbcType=VARCHAR},
      </if>
      <if test="straTime != null">
        stra_time = #{straTime,jdbcType=TIMESTAMP},
      </if>
      <if test="straState != null">
        stra_state = #{straState,jdbcType=INTEGER},
      </if>
      <if test="straSpare != null">
        stra_spare = #{straSpare,jdbcType=VARCHAR},
      </if>
    </set>
    where stra_id = #{straId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.petsvalley.entity.Strategy">
    update strategy
    set stra_type = #{straType,jdbcType=VARCHAR},
      stra_title = #{straTitle,jdbcType=VARCHAR},
      stra_message = #{straMessage,jdbcType=VARCHAR},
      stra_photo = #{straPhoto,jdbcType=VARCHAR},
      stra_time = #{straTime,jdbcType=TIMESTAMP},
      stra_state = #{straState,jdbcType=INTEGER},
      stra_spare = #{straSpare,jdbcType=VARCHAR}
    where stra_id = #{straId,jdbcType=INTEGER}
  </update>
</mapper>